name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  packages: write

env:
  ZB_TOKEN: ${{ secrets.ZB_TOKEN }}
  NPM_TOKEN: ${{ secrets.READ_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  READ_TOKEN: ${{ secrets.READ_TOKEN }}
  DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
  SLACK_DEVOPS_NOTIFICATIONS: ${{ secrets.SLACK_DEVOPS_NOTIFICATIONS }}
  SLACK_RELEASES_WEBHOOK: ${{ secrets.SLACK_RELEASES_WEBHOOK }}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Publish Hoisted
        uses: zerobias-org/devops/nx-actions/publish-hoisted@main
        with:
          publishToken: ${{ secrets.GITHUB_TOKEN }}