name: Pull Request

on:
  pull_request:

permissions:
  contents: write
  id-token: write
  packages: write

env:
  ZB_TOKEN: ${{ secrets.ZB_TOKEN }}
  NPM_TOKEN: ${{ secrets.READ_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  READ_TOKEN: ${{ secrets.READ_TOKEN }}
  DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
  SLACK_DEVOPS_NOTIFICATIONS: ${{ secrets.SLACK_DEVOPS_NOTIFICATIONS }}
  SLACK_RELEASES_WEBHOOK: ${{ secrets.SLACK_RELEASES_WEBHOOK }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Import Secrets
        uses: hashicorp/vault-action@v2.4.3
        with:
          method: jwt
          url: ${{ secrets.VAULT_ADDR }}
          role: publishing-role
          path: gh-actions
          secrets: |
            operations-kv/data/ci/github platformUrl | PLATFORM_URL;
            operations-kv/data/ci/github platformApiKey | PLATFORM_API_KEY;

      - name: Pull Request Hoisted
        uses: zerobias-org/devops/nx-actions/pull-request-hoisted@main
